.textBox{
    background-color: black;
    color:white;
    width: 25vw;
    height:5vh;
    text-align: center;
    border-radius: 2vh 2vh 2vh 2vh;
    border-color: white;
    text-decoration: wavy;
}

.textBox:hover{
    background-color: red;
}

.textBox:active{
    background-color: blue;
}
